.leaflet-container {
  width: 100%;
}
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("bg.svg");
  background-attachment: fixed;
}

.nav {
  background-color: rgb(239, 208, 131);
  box-shadow: 0px 5px 9px 0px rgb(29, 14, 11);
}

.hike-row {
  background-color: rgb(243, 231, 201);
  border: 0.4em solid rgb(239, 208, 131);
  margin: 1em;
}
.hike-row-even {
  background-color: rgb(238, 234, 223);
  border: 0.4em solid rgb(239, 208, 131);
  margin: 1em;
}

.hike-table-container {
  padding: 1em;
}

.hike-filter-container {
  background-color: rgb(239, 208, 131);
  margin: 1em;
  padding: 1em;
}
.dropdown-toggle::after {
  display: none !important;
}
/*
rgb(243, 231, 201)
*/
